
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>SQLRH Login</title>
</head>
<body>
    <h1>SQLRH Login</h1><br>
    <form action="Login" method="post">    
        <div class="container">
          <label for="uname"><b>Пользователь</b></label>
          <input type="text" placeholder="Введите имя" name="uname" required>
      
          <label for="psw"><b>Пароль</b></label>
          <input type="password" placeholder="Введите пароль" name="psw" required>
      
          <button type="submit">Вход</button>
        </div>
      </form> 

</body>
</html>